.sidenav {
    height: 100%;
    width: 285px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #1e2328;
    /* background:
radial-gradient(circle, transparent 20%, #1e2328 20%, #1e2328 80%, transparent 80%, transparent),
radial-gradient(circle, transparent 20%, #1e2328 20%, #1e2328 80%, transparent 80%, transparent) 50px 50px,
linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
background-color: #1e2328;
background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
    word-wrap: none;
    overflow: none;
}

.sidenav div a {
    padding: 4px 4px 4px 8px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lato";
    color: var(--verde);
    display: block;
    z-index: 2;
    transition: 0.3s;
    margin-bottom: 20px;
    position: relative;
}

.sidenav div a::before {
  content: "";
  background-color: #ff1456;
  width: 0;
  height: 3px;
  position: absolute;
  transition: width .12s ease-out, background-color .20s ease-in, transform .12s ease-in-out;
  will-change: width;
  bottom: 0;
}

.sidenav div a::before {
  left: 0;
}

.sidenav div a:hover::before {
  width: 80%;
  transition-duration: .35s;
  background-color: #504bff;
  transform: translateX(2%);
}

.sidenav div a:hover {
    color: #f1f1f1;
}

@keyframes bg-color {
  0% { color: var(--verde) }
  25% { color: var(--vermelho) }
  50% { color: #ECF0F1 }
  75% { color: #007788 }
  100% { color: var(--verde) }
}

#main {
    transition: margin-right .5s;
    padding: 16px;
}
