.box {
  background-color: #fff;
  background-image: linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  padding: 16px;
  max-width: 350px;
  min-width: 350px;
  margin: 10px 4px 4px 0px;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3),
              inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.box > * {
  font-family: VT323;
}

.box h4 {
  font-size: 2.3rem;
  padding: 0;
  margin: 0;
}

.box span {
  font-size: 1.6rem;
}

.box p {
  margin: 4px 0 4px 0;
  padding: 0;
  font-size: 1.2rem;
}

.box ul li {
  font-size: 1.6rem;
}
